
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.Banner{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr  ;
    .Banner__img{
        width: 100%;
        
    }

    .Info__h3{
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Paytone One', sans-serif;
        //width: 400px;
    }

}
.banner__line{
    background: #3887D8;
    width: 60px;
    height: 5px;
}

.Info{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.Info__content{

    height: 150px;
    border-radius: 30px;
    background: url('../../assets/thor.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 60px;

}

@media screen and (min-width:700px){
    .Banner{
        grid-template-columns: 1fr 1fr  ;
    }
    .Banner__img{
        max-height: 300px;
        object-fit: cover;
        margin: auto;
    }
}