.header{

    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header__logo{
        width: 60px;
        height: auto;
    }
    .header__search{
        background: none;
        width: 100%;
        border: none;
        border: 2px solid #fff;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        color :#fff;
    }
    .header__flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__btn{
        background: none;
        border: none;
        cursor: pointer;
    }
    .header__lupa{
        width: 30px;
        height: 100%;
        margin-left: 10px;
    }
}

search
.search__card{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .20s;

    
}

.search__h2{
    height: 20px;
    font-size: 15px;
    text-align: left;
    color: #fff;
}

.search__img{
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    border-radius: 18px;
    transition: .20s;


    &:hover{
        transform: scale(1.1);
    }

}
.search__title{
    display: none;
}

.search__grid{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-column-gap: 20px;
    grid-row-gap: 55px;
    grid-template-rows: auto;
    .movie__card{
        color: #fff;
    }
}


@media screen and (min-width:700px){
    .header__search{
        width: 400px;

    }
    .search__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

}